  
<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div id="ejs-site-wrap">
      <div class="ejs-site-container">
        <div class="top">
          <h3>OOPS!</h3>
          <p>The Page You Requested Could Not Be Found.</p>
          <p>找不到你要瀏覽的頁面</p>
        </div>
        <div class="cover">
            <img src="/assets/images/page404_bg.png" alt="" title="" />
            <img src="/assets/images/page404_main.png" alt="" title="" class="test"/>
            <div class="ejs-site-logo">
              <a href="https://mall.kolhunter.com">
                <img src="/assets/images/home_about_01.png" alt="" title="" />
              </a>
            </div>
        </div>
        <div class="ejs-site-footer">
          <img src="/assets/images/page404_footer.png" alt="" title="" />
        </div>
      </div>
    </div>
  </body>
</html>