.product-list-wrap{
    width: 100%;
    display: flex;
    position: relative;
    .list-ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 5px 0px;
        >li{
            width: 20%;
            padding: 5px 5px 5px 5px;
            position: relative;
        }
        
        &.RWD-1{
            >li{
                width: 16.666%;
            }
        }
        &.RWD-2{
            >li{
                width: 25%;
            }
        }
        &.RWD-3{
            >li{
                width: 33.333%;
            }
        }
        &.RWD-4{
            >li{
                width: 50%;
            }
        }
    }
}