.pagination-wrap{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    ul{
        display: flex;
        >li{
            display: inline-flex;
            margin-right: 5px;
            a{
                width: 30px;
            }
            &:last-child{
                margin-right: 0px;
            }
            &.true{
                a{
                    color: #fff;
                }
            }
        }
    }
    .loadMore{
        width: 140px;
        border: 1px solid var(--primary);
        
    }
    a{
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9em;
        font-weight: bold;
        border-radius: 2px;
    }
    .noData{
        width: 140px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        border: 1px dashed #ccc;
        font-size: 0.9em;
        color: #ccc;
        cursor: no-drop;
    }
    &.nromal{
        a{
            background: #ccc;
            color: #333;
        }
        .true{
            a{
                background: var(--primary);
            }
        }
    }
}