.login-wrap{
    width: 100%;
    min-height: 100%;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media (max-width: 420px) {
        padding: 20px 10px;
    }
    .login-logo{
        max-width: 380px;
        text-align: center;
        img{
            width: 55%;
            @media (max-width: 420px) {
                width: 40%;
            }
        }        
    }
    .social-login{
        li{
            display: block;
        }
    }
    .login-form{
        max-width: 380px;
        padding: 10px;
        margin: 20px 20px;
        background: #fff;
        box-shadow: 0px 0px 5px rgba(0,0,0,.1);
        border-radius: 5px;
        position: relative;
        @media (max-width: 420px) {
            margin: 10px 20px 20px 20px;
        }
        .form-row{
            .sub-title{
                font-size: 1.2em;
            }
            &.social{
                margin-bottom: 0;
            }
        }
        .kep-login-facebook{
            width: 100%;
            line-height: 2.2em;
            padding: 3px 14px 0px;
            height: auto;
            font-size: 0.8em;
            svg{
                margin-bottom: -0.27em;
                width: 1.7em;
                height: 1.7em;
                margin-right: 0.4em;
            }
        }
        .social-btn-login-google{
            display: inline-block !important;
            width: 100%;
            line-height: 2.2em;
            padding: 0 14px !important;
            height: auto;
            border-radius: 0px !important;
            border: 1px solid rgb(204, 204, 204) !important;
            box-shadow: none !important;
            font-size: 0.8em;
            svg{
                margin-bottom: -0.22em;
            }
            >div{
                display: inline-block !important;
                width: 1.5em;
                height: 1.5em;
                margin-bottom: -0.22em;
                margin-right: 0.3em !important;
                padding: 0 !important;
                margin-left: 0 !important;
                margin-top: 0 !important;
            }
            >span{
                padding: 0 !important;
                margin: 0 !important;
            }
        }
    }
}

.leading-wrap{
    width: 100%;
    max-width: 800px;
    margin: 10px 0px 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .leading-wrap-head{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        h3{
            font-size: 1.8em;
            i{
                font-size: 2em;
                margin: 0px 10px;
                color: var(--main);
            }
        }
    }
    .leading-step-ul{
        width: 100%;
        display: flex;
        >li{
            width: 100%;
            padding: 10px;
            display: inline-flex;
        }
    }
    figure{
        width: 100%;
        padding: 10px 10px 15px 10px;
        display: flex;
        flex-wrap: wrap;
        background: #ccc;
        border-radius: 10px;
        img{
            width: 100%;
            display: block;
        }
        figcaption{
            width: 100%;
            display: flex;
            justify-content: center;
            font-size: 1.8em;
            font-weight: bolder;
        }
    }
    .leading-action{
        width: 100%;
        margin-top: 10px;
        padding: 15px 0px;
        display: flex;
        justify-content: center;
        background: var(--bg);
        a,button{
            width: 120px;
            height: 35px;
            margin-right: 10px;
            align-items: center;
            justify-content: center;
            display: inline-flex;
            font-size: 0.9em;
            border-radius: 2px;
            &.cancel{
                border: 1px solid var(--secondary);
                color: var(--secondary);
                background: transparent;
            }
            &:last-child{
                margin-right: 0px;
            }
        }
    }

    @media (max-width: 768px) {
        .leading-wrap-head{
            h3{
                font-size: 1.3em;
            }
        }
        .leading-step-ul{
            flex-direction: column;
            max-width: 280px;
        }
        .leading-action{
            position: sticky;
            bottom: 0px;
            a,button{
                width: 140px;
                height: 40px;
                font-size: 1em;
            }
        }
    }
}

.verify-wrap{
    width              : 100%;
    max-width          : 480px;
    margin-top         : 15px;
    display            : flex;
    flex-wrap          : wrap;
    justify-content    : center;
    h2{
        font-size             : 1.4rem;
        margin-bottom         : 10px;
    }
    p{
        text-align            : center;
        font-size             : 0.9rem;
        line-height           : 1.7em;
        margin-bottom         : 10px;
        &:last-child{
            margin-bottom         : 0px;
        }
        a{
            color                 : var( --main );
        }
        button{
            height                : 25px;
            margin                : 0px;
            margin-left           : 5px;
            background            : var(--blue);
            display               : inline-flex;
        }
    }
    >a{
        font-size       : 0.9rem;
        display         : flex;
        margin-top      : 20px;
        text-decoration : underline;
    }

    @media (max-width: 420px) {
        padding         : 10px;
        background      : #fff;
        border-radius   : 5px;
        box-shadow      : 0px 0px 5px rgba(0,0,0,.1);
    }
}