.container{
    &.approach-content{
        padding: 20px 0px !important;
        @media (max-width: 768px) and (min-width: 421px) {
            flex-wrap: wrap;
            padding: 10px !important;
        }
        @media (max-width: 420px) {
            flex-wrap: wrap;
            padding: 5px !important;
        }
    }
}

.approach-content{
    .container-col{
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        &.left{
            width: 420px;
            min-width: 420px;
            margin-right: 15px;
        }
        &.right{
            flex-wrap: wrap;
        }
        @media (max-width: 1000px) and (min-width: 861px) {
            &.left{
                width: 340px;
                min-width: 340px;
            }
            &.right{
                flex-wrap: wrap;
            }
        }
        @media (max-width: 860px) and (min-width: 769px) {
            &.left{
                width: 260px;
                min-width: 260px;
            }
            &.right{
                flex-wrap: wrap;
            }
            .unit{
                h1{
                    font-size: 1.1rem !important;
                }
            }
        }
        @media (max-width: 768px) and (max-width: 421px) {
            &.left{
                width: 100%;
                min-width: 100%;
                margin-right: 0px;
            }
            &.right{
                flex-wrap: wrap;
                .path-breadcrumbs,.unit-guide{
                    display: none !important;
                }
            }
            .unit{
                margin-bottom: 10px !important;
                h1{
                    font-size: 1.1rem !important;
                }
            }
        }
        @media (max-width: 420px) {
            &.left{
                width: 100%;
                min-width: 100%;
                margin-right: 0px;
            }
            &.right{
                flex-wrap: wrap;
                .path-breadcrumbs,.unit-guide{
                    display: none !important;
                }
            }
            .unit{
                margin-bottom: 10px !important;
                h1{
                    font-size: 1rem !important;
                }
            }
        }
    }
    .unit{
        .unit-head{
            min-height: 40px;
            margin-top: 0px;
        }
        .unit-guide-col{
            form{
                position: relative;
                display: flex;
                flex-direction: row;
                .input-box{
                    max-width: 150px;
                }
                button{
                    width: 60px;
                   display: inline-flex; 
                   border-radius: 0px 2px 2px 0px;
                }
            }
        }
    }

    a{
        &.buy-now{
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--main);
            border-radius: 2px;
            color: #fff;
            font-size: 1rem;
        }
    }
}