header{
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 10;
    top: 0px;
    background: #FF416C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .container{
        display: flex;
        justify-content: space-between;
    }
    .logo-block{
        max-width: 200px;
        display: inline-flex;
        align-items: center;
        a{
            display: flex;
            align-items: flex-start;
        }
        img{
            width: 100%;
            &.normal{
                display: block;
            }
            &.mobile{
                display: none;
            }
        }
        @media (max-width: 768px) and (min-width: 421px) {
            width: 40px;
            min-width: 50px;
            margin-right: 10px;
            img{
                &.normal{
                    display: none;
                }
                &.mobile{
                    display: block;
                }
            }
        }
        @media (max-width: 420px) {
            width: 35px;
            margin: 0px 10px 0px 5px;
            img{
                &.normal{
                    display: none;
                }
                &.mobile{
                    display: block;
                }
            }
        }
    }
    .search-block{
        width: 100%;
        max-width: 670px;
        display: inline-flex;
        flex-wrap: wrap;
        padding: 0px 5px;
        form{
            width: 100%;
            position: relative;
            .input-box{
                height: 40px;
                background: #fff;
                border-radius: 2px;
                align-items: center;
                padding-right: 70px;
                border: none;
                &.select{
                    width: 120px;
                    border-left: 1px solid #ccc;
                    color: #5A6268;
                    font-size: 0.9em;
                }
            }
            [type=submit]{
                width: 60px;
                height: 35px;
                position: absolute;
                z-index: 10;
                right: 5px;
                background: #FF416C;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to bottom, #FF4B2B, rgb(255, 57, 103));
                background: linear-gradient(to bottom, #FF4B2B, rgb(255, 57, 103));
                svg{
                    display: none;
                }
            }
            @media (max-width: 768px) and (min-width: 421px) {
                .input-box{
                    height: 100%;
                    border: none;
                    padding-right: 45px;
                    &.select{
                        max-width: 100px;
                        min-width: 100px;
                    }
                }
                [type=submit]{
                    width: 35px;
                    border-radius: 3px;
                    span{
                        display: none;
                    }
                    svg{
                        display: block;
                    }
                }
            }
            @media (max-width: 420px) {
                .input-box{
                    height: 35px;
                    border: none;
                    padding-right: 0px;
                    &.select{
                        max-width: 100px;
                    }
                    select{
                        min-width: 110px;
                        min-height:30px;
                        height: 30px;
                    }
                }
                [type=submit]{
                    display: none;
                    width: 30px;
                    span{
                        display: none;
                    }
                    svg{
                        display: block;
                    }
                }
            }
        }
        .hito-search{
            display: flex;
            align-items: center;
            color: #fff;
            margin-top: 5px;
            font-size: 0.8rem;
            span{
                display: inline-flex;
                &.label{
                    margin-right: 10px;
                }
            }
            ul{
                display: flex;
                li{
                    display: inline-flex;
                    align-items: center;
                    a{
                        color: #fff;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        @media (max-width: 1280px) and (min-width: 769px) {
            max-width: 50%;
        }
        @media (max-width: 768px) {
            padding: 0px;
            .hito-search{
                display: none;
            }
        }
    }
    .header-nav-block{
        display: inline-flex;
        ul{
            display: flex;
            margin-right: -5px;
            overflow: hidden;
            >li{
                width: 65px;
                padding-right: 5px;
                display: inline-flex;
                a{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }
            }
        }
        .icon-block{
            width: 40px;
            height: 40px;
            margin-bottom: 5px;
            border-radius: 100px;
            background: #fff;
            color: var(--main);
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .icon-block-number{
                width: 19px;
                height: 19px;
                display: flex;
                border-radius: 100px;
                align-items: center;
                justify-content: center;
                background: var(--yellow);
                position: absolute;
                z-index: 2;
                bottom: -4px;
                right: -3px;
                font-size: 0.5rem;
                font-weight: bold;
                color: #fff;
            }
            img{
                width: 100%;
                border-radius: 100px;
            }
            @media (max-width: 768px) and (min-width: 421px) {
                width: 30px;
                height: 30px;
                color: #666;
                font-size: 1.2rem;
            }
            @media (max-width: 420px) {
                width: 25px;
                height: 25px;
                margin-bottom: 0px;
                color: #666;
                font-size: 1rem;
            }
        }
        .prompt-block{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 0.8em;
        }
        @media (max-width: 768px) {
            width: 100%;
            border-top: 1px solid #E7E7E7;
            background: #fff;
            position: fixed;
            z-index: 100;
            bottom: 0px;
            left: 0px;
            box-shadow: 0px 0px 10px rgba(0,0,0,.1);
            .prompt-block{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #666666;
                font-size: 0.7em;
            }
            ul{
                width: 100%;
                >li{
                    width: 100%;
                    padding-right: 0px;
                    &.true{
                        .prompt-block, .icon-block{
                            color: var(--main);
                        }
                    }
                }
            }
        }
        @media (max-width: 768px) and (min-width: 421px) {
            height: 60px;
            .prompt-block{
                font-size: 0.7em;
            }
        }
        @media (max-width: 420px) {
            height: 50px;
            .prompt-block{
                font-size: 0.6em;
            }
        }
    }

    @media (max-width: 768px) {
        padding: 5px;
        min-height: auto;
        position: sticky;
        top: 0px;
        left: 0px;
        .container{
            padding: 0px !important;
        }
        .input-box{
            height: 100%;
        }
    }
}