.mystore{
    margin-bottom: 0px !important;
    label{
        color: #fff;
        font-size: 1.1em;
        i{
            margin: 0px;
        }
        &[for=bgImg]{
            width: 60px;
            height: 60px;
            background: rgba(0,0,0,.6);
            top: auto;
            left: auto;
            z-index: 3;
            bottom: 10px;
            right: 10px;
            border-radius: 100%;
        }
        &[for=headImg]{
            height: 25%;
            background: rgba(0,0,0,.6);
            top: auto;
            bottom: 0px;
        }
        @media (max-width: 420px) {
            font-size: 1em;
            &[for=bgImg]{
                width: 40px;
                height: 40px;
                z-index: 10;
                bottom: auto;
                top: 10px;
                right: 10px;
            }
            &[for=headImg]{
                height: 35%;
            }
        }
    }

    .store-bg-lable{
        position: absolute;
        z-index: 2;
        img{
            display: none;
        }
    }

    .store-cover-lable{
        position: absolute;
        z-index: 2;
        img{
            display: none !important;
        }
    }
    .view-store-button{
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 0.9rem;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 0 1.1em 0 1.2em;
        font-size: 0.8em;
        line-height: 2.6em;
        border-radius: 5px;
        opacity: 0.8;
        &:hover{
            opacity: 1;
        }
    }
    @media (max-width: 420px) {
        .view-store-button{
            top: 10px;
            left: 10px;
            right: auto;
            line-height: 2.2em;
            padding: 0 0.8em 0 1em;
            font-size: 0.75em;
        }
    }
}