.table-wrap{
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    button{
        width: 120px;
        height: 35px;
        color: #fff;
        &.status-non-display{ background: var(--main); }
        &.status-auth,&.status-on{ background: var(--green); }
        &.status-none-auth,&.status-off{ background: var(--gray-dark); }
    }
    .table-ul{
        width: 100%;
        display: table;
        >li{
            min-height: 50px;
            display: table-row;
            >div{
                max-width: 500px;
                min-height: 50px;
                display: table-cell;
                padding: 15px 0px 15px 25px;
                align-items: center;
                border-bottom: 1px solid #f0f2f5;
                background: #fff;
                word-wrap:break-word;
                vertical-align: middle;
                color: #5A6268;
                font-weight: 400;
                font-size: 0.9em;
                &:last-child{
                    padding-right: 15px;
                }
                >img{
                    width: 100%;
                    @media (max-width: 768px) {
                        max-width: 65px;
                    }
                }
                a{
                    min-width: 300px;
                    color: var(--primary);
                    text-decoration: underline;
                    overflow: hidden;
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    white-space: normal;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    -webkit-line-clamp: 2;
                }
                h3{
                    min-width: 300px;
                    max-height: 50px;
                    line-height: 1.5em;
                }

                @media (max-width: 768px) {
                    min-height: 45px;
                    padding: 15px 0px 15px 15px;
                    font-size: 0.9em;
                }
            }
            .table-head{
                background: #FAFAFA;
                white-space:nowrap;
                font-weight: bold;
                font-size: 10.9m;
                position: sticky;
                top: 0px;
            }
        }
    }

    // 獨立性 CSS style
    .ranking{
        width: 90px;
    }
    .number{
        width: 130px;
        min-width: 130px;
    }
    .table-min-width{
        min-width: 280px;
    }
    .other{
        a{
            min-width: auto !important;
        }
    }
    .tableNoData{
        width: 100%;
        height: 50px;
        background: #fff;
        font-size: 0.9rem;
        color: rgb(167, 167, 167);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-width{
        width: 100px;
        min-width: 70px;
    }
    .status-width{
        width: 140px;
        text-align: -webkit-center;
    }

    button{
        cursor: pointer;
        &.off{
            background: #666;
        }
    }
}

.table-row-list{
    width: 100%;
    font-size: 0.9em;
    color: var(--content);
    position: relative;
    >li{
        min-height: 55px;
        align-items: center;
        display: flex;
        >label{
            width: 110px;
            min-width: 110px;
            margin-right: 5px;
            display: inline-flex;
            justify-content: flex-end;
            font-weight: bold;
            &::after{
                content: "：";
                display: inline-flex;
                margin-left: 5px;
            }
        }
        >div{
            width: 100%;
            display: inline-flex;
            align-items: center;
            .categories-item{
                height: 30px;
                padding: 0px 10px 0px 0px;
                display: inline-flex;
                align-items: center;
                position: relative;
                &:after{
                    content: "/";
                    margin-left: 10px;
                }
                &:last-child{
                    &:after{
                        display: none;
                    }
                }
            }
        }
    }
    @media ( max-width: 420px ) {
        >li{
            flex-wrap: wrap;
            margin-bottom: 15px;
            &:last-child{
                margin-bottom: 0px;
            }
            >label{
                width: auto;
                min-width: none;
                justify-content: flex-start;
                margin-bottom: 5px;
            }
            >div{
                flex-wrap: wrap;
                .input-box{
                    margin: 0px;
                    margin-top: 5px;
                    margin-right: 10px;
                    &:last-child{
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}