@import './filter.scss';
@import './form.scss';
@import './popup.scss';

:root {
    --bg                  : #F0F2F5;
    --blue                : #007bff;
    --indigo              : #6610f2;
    --purple              : #6f42c1;
    --pink                : #e83e8c;
    --red                 : #dc3545;
    --orange              : #fd7e14;
    --yellow              : #ffc107;
    --green               : #28a745;
    --teal                : #20c997;
    --cyan                : #17a2b8;
    --white               : #fff;
    --gray                : #6c757d;
    --gray-dark           : #343a40;
    --primary             : #007bff;
    --secondary           : #6c757d;
    --success             : #28a745;
    --info                : #17a2b8;
    --warning             : #ffc107;
    --danger              : #dc3545;
    --light               : #f8f9fa;
    --dark                : #343a40;
    --main                : #F6102D;
    --cancel              : #e0e1e2;
    --blockTitle          : #F6102D;
    --content             : #979BA7;
}

ul{
    list-style-type: none;
}

i{
    font-size: 1.1em;
    display: inline-flex;
    margin-right: 5px;
}

a{
    &.next{
        background: var(--main);
        color: #fff;
    }
}

span{
    &.conpon-normal{
        height: 30px;
        padding: 0px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;;
        background: var(--green);
        color: #fff;
        font-size: 0.8rem;
    }
    &.conpon-used{
        color: val(--red);
    }
}

*{
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing : border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body{
    background: var(--bg);
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html,body{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
}

#root{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .container {
        width: 100%;
        max-width: 1280px;
        padding: 0px 15px;
        margin: auto;
        display: flex;
        &.main-content {
            min-height      : 500px;
            padding         : 20px 0px;
            align-items     : flex-start;
            @media (max-width: 1080px) and (min-width: 769px) {
                min-height: 300px;
                padding: 10px;
            }
            @media (max-width: 768px) and (min-width: 421px) {
                min-height: 300px;
                padding: 10px;
            }
            @media (max-width: 420px) {
                min-height: 300px;
                padding: 5px;
            }
        }
        .unit{
            width: 100%;
            /*margin-bottom: 30px;*/
            display: flex;
            flex-direction: column;
            .unit-guide{
                width: 100%;
                padding: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #f2f2f2;
                font-size: 0.9rem;
                .unit-guide-col{
                    display: inline-flex;
                }
            }
            h1{
                font-size: 1.4em;
                font-weight: 500;
                line-height: 1.6em;
            }
        }
        .mall-page-alert-info{
            width             : 100%;
            min-height        : 40px;
            padding           : 5px;
            margin-bottom     : 10px;
            display           : flex;
            align-items       : center;
            flex-wrap         : wrap;
            border            : 1px solid #ffdfdf;
            border-radius     : 4px;
            background        : #ffefef;
            font-size         : 0.9rem;
            color             : #ff726b;
            ul{
                display            : flex;
                flex-wrap          : wrap;
                >li{
                    display          : inline-flex;
                }
            }
            @media (max-width: 420px) {
                margin-top     : 10px;
            }
        }
        .container-row{
            width: 100%;
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;
            &:last-child{
                margin-bottom: 0px;
            }
            &.unit{
                background: #fff;
                padding: 10px;
            }
        }

        @media (max-width: 420px) {
            padding: 0px 5px;
        }
    }
}

main{
    width: 100%;
    min-height: 100%;
}
.row{
    width: 100%;
    margin-bottom: 45px;
    &.kv-wrap{
        margin-bottom: 10px;
    }
    &.category-wrap{
        background: #fff;
    }
    &:last-child{
        margin-bottom: 0px;
    }
    @media (max-width: 600px) {
        margin-bottom: 30px;
    }
}
.col{ display: inline-flex; }
.none-margin{ margin: 0px !important; }
.none-padding{ padding: 0px !important; }

[data-direction=column]{
    flex-direction: column
}
[data-direction=row]{
    flex-direction: row
} 
[data-direction=row-reverse]{
    flex-direction: row-reverse
} 
[data-direction=column-reverse]{
    flex-direction: column-reverse
} 
[data-content=center]{
    display: flex;
    justify-content: center;
}
[data-content=rigth]{
    display: flex;
    justify-content: flex-end;
}
[data-content=space-between]{
    justify-content: space-between;
}
[data-flexwrap=wrap]{ flex-wrap: wrap }

a{
    &.signup_link{
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ececec;
        font-size: 0.9em;
        color: var(--main);
        background: #fdedee;
        border: 1px solid var(--main);
        border-radius: 4px;
    }    
}

.sub-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
    &::before{
        content: "";
        width: 100%;
        height: 1px;
        background: #ccc;
        display: block;
        position: absolute;
        z-index: 1;
    }
    span{
        padding: 2px 15px;
        font-size: 0.7em;
        background: #fff;
        display: flex;
        position: relative;
        z-index: 2;
        color: #666;
    }
    a{
        color: #666;
        display: inline-flex;
        margin: 0px 5px;
    }
}

nav{
    &.inc_nav{
        width: 260px;
        min-width: 260px;
        height: 100%;
        background: #001529;
        position: fixed;
        z-index: 10;
        top: 0px;
        left: 0px;
        font-size: 0.9em;
        transition: left .3s;
        overflow: auto;
        .logo{
            width: 100%;
            background: #001529;
            padding: 10px 10px;
            position: sticky;
            top: 0px;
            a{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            img{
                width: 60%;
            }
        }
        ul{
            width: 100%;
            >li{
                width: 100%;
                span,a{
                    width: 100%;
                    height: 45px;
                    padding: 0px 10px;
                    display: flex;
                    align-items: center;
                    color: #fff;
                    cursor: pointer;
                    position: relative;
                    background: transparent;
                    transition: background .2s;
                    &.active{
                        background: #1890ff;
                    }
                    &.navBtn{
                        opacity: .4;
                        &.true{
                            opacity: 1;
                            .menu-submenu-arrow{
                                transform:scaleY(-1);
                            }
                        }
                    }
                    a{
                        padding: 0px;
                    }
                    i{
                        width: 15px;
                        height: 15px;
                        margin-right: 10px;
                        align-items: center;
                        justify-content: center;
                        font-size: 0.9rem;
                        &.menu-submenu-arrow{
                            width: 15px;
                            height: 15px;
                            position: absolute;
                            right: 5px;
                        }
                    }
                }
                >ul{
                    background: #000c17;
                    display: none;
                    >li{
                        a,span{
                            padding-left: 35px;
                        }
                    }
                }
                &.active{
                    >span,>a{
                        background: var(--primary);
                    }
                }
            }
        }
        @media (max-width: 768px){
            width: 260px;
            min-width: 260px;
            left: -260px;
            &.true{
                left: 0px;
            }
        }
    }
}

#admin-nav-switch{
    display: none;
}

.hide{
    display: none;
}

.list-no-data{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    color: var(--secondary);
}

.container{
    .container-col {
        width: 100%;
        display: inline-flex;
        position: relative;
        &[data-flexdirection=column]{ flex-direction: column; }
        .container-col-row{
            width: 100%;
            margin-bottom: 15px;
            display: flex;
            &[data-flexdirection=column]{ flex-direction: column; }
            &:last-child{
                margin-bottom: 0px;
            }
        }
        &.left{
            display: inline-flex;
        }
        &.right{
            display: inline-flex;
        }
    }

    .path-breadcrumbs{
        width: 100%;
        min-height: 45px;
        padding: 5px 15px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--main);
        background: #E4E4EB;
        font-size: 0.9em;
        ul{
            display: flex;
            >li{
                max-width: 130px;
                display: inline-block;
                margin-right: 10px;
                overflow: hidden;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:last-child{
                    margin-right: 0px;
                }
                a{
                    display      : flex;
                    align-items  : center;
                    color        : #666666;
                    &:after{
                        content: ">";
                        display: inline-flex;
                        margin-left: 10px;
                    }
                }
            }
        }
        .input-box{
            width: 160px;
            &.select{
                max-width: 100%;
                padding-right: 0px !important;
                select{
                    padding-right: 35px !important;
                }
                &:after{
                    content: "";
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    z-index: 1;
                    right: 10px;
                    background-image: url('../images/icon/caret-down.svg');
                    background-size: 13px;
                    background-repeat: no-repeat;
                    background-position: 93% center;
                }
            }
        }
        @media (max-width: 420px) {
            padding: 5px;
            margin-bottom: 0px;
            ul{
                >li{
                    max-width: 100px;
                    margin-right: 10px;
                    font-size: 0.9em;
                    a{
                        &:after{
                            margin-left: 10px;
                        }
                    }
                }
            }
            .input-box{
                select{
                    height: 30px;
                    min-height: 30px;
                }
            }
        }
    }

    .block-title{
        width: 100%;
        padding: 0px 0px 15px 0px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #E4E4EB;
        color: var(--main);
        h2 {
            font-size: 1em;
        }
        a{
            color: #999;
            display: flex;
            align-items: center;
            font-size: 0.8rem;
            i{
                margin: 0px 0px 0px 5px;
            }
        }
        @media (max-width: 420px) {
            margin-bottom: 10px;
            padding: 0px 0px 10px 0px;
            h2 {
                font-size: 1rem;
            }
        }
    }

    .container-unit{
        width           : 100%;
        padding         : 10px;
        margin-bottom   : 15px;
        background      : #fff;
        &:first-child{ margin-bottom: 0px; }
        &:last-child{ margin-bottom: 0px; }
        .container-unit-head{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 5px 0px 10px 0px;
            color: #999;
            h3{ font-size: 1.1rem; }
            h4{ font-size: 1rem; display: inline-flex; align-items: center;}
            svg{ margin-right: 5px; }
        }
        .container-unit-row{
            width: 100%;
            display: flex;
        }
        .container-unit-col{
            width: 100%;
            display: inline-flex;
            margin-right: 20px;
            &:last-child{
                margin-right: 0px;
            }
        }
        .container-unit-search{
            width: 100%;
            display: flex;
            margin-bottom: 10px;
            form{
                max-width: 300px;
                display: flex;
                flex-direction: row;
                button{
                    width: 70px;
                    height: 35px;
                    border-radius: 0px 2px 2px 0px;
                }
            }
            .input-box{
                &.select{
                    width: auto;
                    max-width: none;
                }
            }
        }
        .container-unit-action{
            width: 100%;
            display: flex;
            justify-content: center;
            ul{
                display: flex;
                >li{
                    display: inline-flex;
                    margin-right: 5px;
                    &:last-child{
                        margin-right: 0px;
                    }
                }
            }
            button{
                width: 90px;
            }
        }
        .container-unit-null{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding: 20px 0px;
            font-size: 0.8rem;
            color: #999;
            justify-content: center;
            align-items: center;
        }
        .warn{
            display       : flex;
            align-items   : center;
            margin-top    : 10px;
            color         : var(--orange);
            font-size     : 0.8rem;
            user-select   : none;
            &.text-center{
                justify-content: center;
            }
        }
    }
    .container-unit-title{
        width             : 100%;
        height            : 50px;
        display           : flex;
        align-items       : center;
        justify-content   : space-between;
        margin-bottom     : 5px;
        h2{
            font-size           : 1.1em;
        }
    }
}

.unit-head{
    width: 100%;
    min-height: 40px;
    margin: 0px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.approach{
        color: var(--main);
    }
    h3{
        display: inline-flex;
        font-size: 1rem;
        color: #666;
    }
    button{
        height: 35px;
    }
}

figure{
    outline: none;
    overflow: hidden;
    .img {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        position: relative;
        overflow: hidden;
    }
}

.relative{
    position: relative;
}

.list-nodata{
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    color: #aaa;
}

.quantity-wrap{
    width             : 100%;
    max-width         : 150px;
    height            : 40px;
    display           : flex;
    overflow          : hidden;
    border-radius     : 2px;
    button{
        width              : 28px;
        min-width          : 28px;
        height             : 100%;
        padding            : 0px;
        display            : inline-flex;
        background         : linear-gradient(to bottom, #FF4B2B, #FF416C);
        color              : #fff;
        border-radius      : 0px;
    }
    .input-box, .show-quantity{
        width                : calc(100% - 56px);
        height               : 100%;
        border               : none;
        border-top           : 1px solid #e7e7e7;
        border-bottom        : 1px solid #e7e7e7;
        font-size            : 1rem;
    }
    .input-box{
        margin               : 0px;
        input{
            width              : 100%;
            text-align         : center;
            font-size          : 1.2em;
            border             : none;
        }
    }
    .show-quantity{
        display              : flex;
        align-items          : center;
        justify-content      : center;
        user-select          : none;
    }
}

.remarks-ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    list-style-type: disc;
    padding-left: 25px;
    >li{
        width: 100%;
        padding: 5px 0px;
    }
}

.payStatus{
    min-height: 35px;
    border-radius: 3px;
    color: #fff;
    font-size: 0.8em;
    padding: 5px 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    &.init{
        background: var(--main);
    }
    &.paid{
        background: var(--green);
    }
}

.relative{
    position: relative;
}

.onData{
    width: 100%;
    min-height: 50px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    color: #999;
    background: #ececec;
    border-radius: 5px;
}

.tool-ul-inline{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    >li{
        display: inline-flex;
        margin-right: 10px;
    }
    .input-box{
        margin-left: 0px;
    }
}

.info-box-ul{
    max-width: 100%;
    display: flex;
    >li{
        width: 100%;
        padding: 10px;
        display: inline-flex;
        flex-wrap: wrap;
        border-right: 1px solid #ccc;
        &:last-child{
            border-right: none;
        }
        .info-box-head,.info-box-content{
            width: 100%;
            padding: 5px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .info-box-head{
            font-size: 0.7rem;
            color: var(--gray);
        }
        .info-box-content{
            margin-top: 10px;
            font-size: 1.1rem;
            font-weight: bolder;
        }
    }
}

.all-help{
    height          : 50px;
    background      : var(--blue);
    color           : #fff;
    display         : flex;
    padding         : 0px 15px;
    align-items     : center;
    border-radius   : 100px;
    justify-content : center;
    position        : fixed;
    z-index         : 100;
    bottom          : 140px;
    right           : 15px;
    a{
        width           : 100%;
        height          : 100%;
        display         : flex;
        align-items     : center;
        justify-content : center;
        color           : #fff;
    }
    svg{
        font-size: 1rem;
    }
    .text{
        font-size: 1rem;
        display: flex;
        margin-left: 10px;
    }
}

.loadMore-wrap{
    width               : 100%;
    margin-top          : 15px;
    display             : flex;
    justify-content     : center;
    a{
        width               : 100%;
        max-width           : 320px;
        height              : 45px;
        background          : #fff;
        display             : flex;
        justify-content     : center;
        align-items         : center;
        border              : 1px solid #e1e1e1;
        color               : #333;
        font-size           : 0.8rem;
        transition          : background .2s;
        &:hover{
            background          : #f7f7f7;
        }
    }
}
.store-verified{
    width       : 23%;
    height      : 23%;
    display     : flex;
    align-items : center;
    justify-content: center;
    position    : absolute;
    z-index     : 2;
    bottom      : 0px;
    right       : 0px;
    color       : #fff;
    font-size   : 0.9rem;
    border-radius: 100px;
    &.true{
        background: var(--green);
    }
    &.false{
        background: var(--content);
    }
}

.orderStatus{
    height           : 30px;
    display          : flex;
    align-items      : center;
    justify-content  : center;
    padding          : 5px 10px;
    font-size        : 0.8rem;
    font-weight      : bold;
    color            : #fff;
    border-radius    : 4px;
    user-select      : none;
    &.init{
        background       : var(--red);
    }
    &.paid{
        background       : var(--green);
    }
    &.payfailure{
        background       : var(--orange);
    }
}

.deliveryStatus{
    height           : 30px;
    display          : flex;
    align-items      : center;
    justify-content  : center;
    padding          : 5px 10px;
    font-weight      : bold;
    border-radius    : 4px;
    user-select      : none;
    &.init{
        color       : var(--main);
    }
    &.prepare{
        color       : var(--orange);
    }
    &.ontheway{
        color       : var(--orange);
    }
    &.arrived{
        color       : var(--green);
    }
}

.refundStatus{
    height           : 30px;
    display          : flex;
    align-items      : center;
    justify-content  : center;
    padding          : 5px 10px;
    font-weight      : bold;
    border-radius    : 4px;
    user-select      : none;
    &.none {
        color       : var(--green);
    }
    &.request, &.delivery, &.approve, &.recived, &.reject, &.waitting {
        color       : var(--main);
    }
    &.done{
        color       : var(--orange);
    }
}

.productStatus{
    width            : 100%;
    height           : 30px;
    display          : flex;
    align-items      : center;
    justify-content  : center;
    padding          : 5px 10px;
    font-size        : 0.8rem;
    border-radius    : 4px;
    user-select      : none;
    color            : #fff;
    &.none-auth{
        background: var(--gray-dark);
    }
    &.non-display{
        background: var(--main); 
    }
    &.auth{
        background: var(--green);
    }
}

.blur{
    &.true{
        filter: blur(5px);
    }
}