.container{
    &.detail-content{
        padding: 20px 10px !important;
        flex-wrap: wrap;
        @media (max-width: 1080px) and (min-width: 769px) {
            padding: 10px !important;
        }
        @media (max-width: 768px) and (min-width: 421px) {
            padding: 10px !important;
        }
        @media (max-width: 420px) {
            padding: 5px !important;
        }
    }
}

.detail-cover-share-wrap{
    align-items: center;
    .detail-cover-share-wrap-label{
        margin-right: 10px;
        display: inline-flex;
    }
    ul{
        display: inline-flex;
        >li{
            display: inline-flex;
            margin-right: 10px;
            div{
                outline: none;
            }
            &:last-child{
                margin-right: 0px;
            }
        }
    }
}

.detail-cover-loading{
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    font-size: 0.9rem;
}

.detail-cover-wrap{
    width         : 100%;
    display       : flex;
    background    : #fff;
    padding       : 15px;
    .detail-cover-wrap-col{
        display: inline-flex;
        flex-wrap: wrap;
        align-content: flex-start;
        &.left{
            width    : 460px;
            min-width: 460px;
            @media (max-width: 1000px) and (min-width: 861px) {
                width     : 380px;
                min-width : 380px;
            }
            @media (max-width: 860px) and (min-width: 721px) {
                width    : 320px;
                min-width: 320px;
            }
            @media (max-width: 768px) {
                width    : 100%;
                min-width: 100%;
            }
        }
        &.right{
            width           : 100%;
            height          : 100%;
            padding-left    : 30px;
            padding-bottom  : 60px;
            position        : relative;
            @media (max-width: 860px) and (min-width: 721px) {
                padding-left    : 15px;
            }
            @media (max-width: 768px) {
                height          : auto;
                padding-left    : 0px;
                padding-bottom  : 0px;
            }
        }
    }

    .detail-cover-row{
        width: 100%;
        display: flex;
        padding: 10px;
        font-size: 0.9em;
        >label{
            width: 140px;
            min-width: 140px;
            min-height: 35px;
            display: inline-flex;
            align-items: center;
            &:after{
                content: "：";
            }
        }
        &:last-child{
            margin-bottom: 0px;
        }
        &.cover-title{
            max-height: 95px;
            align-items: center;
            h1{
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.6em;
                display: -webkit-box;
                max-height: 80px;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                -webkit-line-clamp: 2;
            }
            @media (max-width: 1024px) and (min-width: 861px) {
                max-height: 80px;
                h1{
                    max-height: 65px;
                    font-size: 1.2rem;
                }
            }
            @media (max-width: 860px) and (min-width: 769px) {
                max-height: 80px;
                h1{
                    max-height: 65px;
                    font-size: 1.1rem;
                }
            }
            @media (max-width: 768px) and (min-width: 421px) {
                max-height: 80px;
                h1{
                    max-height: 60px;
                    font-size: 1.1rem;
                }
            }
            @media (max-width: 420px) {
                max-height: 80px;
                h1{
                    max-height: 60px;
                    font-size: 1rem;
                }
            }
        }
        &.cover-other{
            align-items  : center;
            .cover-other-ul{
                display    : flex;
                font-size  : 0.8rem;
                color      : #767676;
                >li{
                    padding          : 0px 10px 0px 10px;
                    display          : inline-flex;
                    align-items      : flex-end;
                    border-right     : 1px solid #ccc;
                    &:first-child{
                        padding-left      : 0px;
                    }
                    &:last-child{
                        padding-right     : 0px;
                        border-right      : none;
                    }
                    .value{
                        font-size    : 1rem;
                        font-weight  : 600;
                        color        : #ee4d2d;
                        display      : inline-flex;
                        margin-right : 5px;
                    }
                }
            }
            @media (max-width: 420px) {
                min-height: 40px;
                .cover-other-ul{
                    font-size: 0.6rem;
                    >li{
                        .value{
                            font-size    : 0.9rem;
                        }
                    }
                }
            }
        }
        &.cover-money{
            align-items      : center;
            background       : #fafafa;
            >div,>span{
                margin-right     : 15px;
                &:last-child{
                    margin-right     : 0px;
                }
            }
            .cover-money-price{
                display           : inline-flex;
                font-size         : 1rem;
                text-decoration   : line-through;
                color             : #999;
            }
            .cover-money-sellPrice{
                font-size         : 1.9rem;
                font-weight       : bolder;
                color             : var(--main);
            }
            .cover-money-discount{
                padding           : 2px 5px;
                border-radius     : 3px;
                background        : var(--main);
                color             : #fff;
                font-size         : 0.6rem;
            }
            @media (max-width: 1000px) and (min-width: 860px) {
                .cover-money-price{
                    font-size: 1rem;
                }
                .cover-money-sellPrice{
                    font-size: 1.8rem;
                }
            }
            @media (max-width: 768px) {
                .cover-money-price{
                    font-size: 1.1rem;
                }
                .cover-money-sellPrice{
                    font-size: 1.4rem;
                }
            }
        }
        &.cover-delivery{
            .delivery-list{
                width: 100%;
                display: inline-flex;
                flex-wrap: wrap;
                >li{
                    width: 100%;
                    margin-bottom: 5px;
                    &:last-child{
                        margin-bottom: 0px;
                    }
                }
            }
            @media (max-width: 768px) {
                flex-wrap: wrap;
            }
        }
        &.cover-select{
            >label{
                min-height: 35px;
                align-items: center;
            }
            .select-list{
                width           : 100%;
                margin-bottom   : -10px;
                display         : inline-flex;
                flex-wrap       : wrap;
                >li{
                    display      : inline-flex;
                    margin       : 0px 10px 10px 0px;
                    label{
                        color        : rgba(0,0,0,.8);
                        cursor       : pointer;
                        input{
                            display          : none;
                        }
                        span{
                            min-height       : 35px;
                            display          : flex;
                            align-items      : center;
                            padding          : 5px 15px;
                            border-radius    : 2px;
                            border           : 1px solid #aaa;
                            user-select      : none;
                            @media ( max-width: 420px ) {
                                min-height       : 30px;
                                padding          : 5px 20px;
                                font-size        : 0.9em;
                            }
                        }
                    }
                }
            }
            @media (max-width: 768px) {
                flex-wrap: wrap;
            }
        }
        &.cover-quantity{
            >label{
                height: 40px;
                align-items: center;
            }
            @media (max-width: 768px) {
                flex-wrap: wrap;
            }
        }

        &.cover-action{
            width: 100%;
            height: 60px;
            padding: 0px 10px;
            align-items: center;
            justify-content: flex-end;
            background: #E7E7E7;
            position: absolute;
            z-index: 2;
            bottom: 0px;
            left: 0px;
            ul{
                display: flex;
                >li{
                    display: inline-flex;
                    margin-right: 10px;
                    &:last-child{
                        margin-right: 0px;
                    }
                }
            }

            button{
                width              : 145px;
                height             : 40px;
                padding            : 0px 15px;
                background         : #ccc;
                font-size          : 1rem;
                &.add-cart{
                    background         : linear-gradient(to bottom, #FF4B2B, #FF416C);
                }
                &.direct-purchase{
                    color              : var(--main);
                    background         : #FFF3E8;
                    border             : 1px solid var(--main);
                }
                &.soldOut{
                    width              : 200px;
                    background         : #333;
                }
            }
            @media (max-width: 768px) {
                background: #f0f2f5;
                ul{
                    width: 100%;
                    >li{
                        &.add-cart-li{
                            width: 65%;
                        }
                        &.direct-purchase-li{
                            width: 35%;
                        }
                    }
                }
                button{
                    width: 100%;
                }
            }
            @media (max-width: 768px) and (min-width: 421px) {
                justify-content: center;
                position: sticky;
                z-index: 2;
                bottom: 60px;
            }
            @media (max-width: 420px) {
                height: 50px;
                padding: 5px 0px;
                justify-content: center;
                position: sticky;
                z-index: 2;
                bottom: 50px;
            }
        }
        @media (max-width: 1000px) and (min-width: 860px) {
            font-size: 0.9rem;
        }
        @media (max-width: 768px) {
            font-size: 0.9rem;
            >label{
                width: 100%;
                min-width: none;
                margin-bottom: 5px;
                display: inline-flex;
                &:after{
                    content: "：";
                }
            }
        }
    }

    .variant{
        &:checked{
            + span{
                color: var(--main);
                border: 1px solid var(--main) !important;
                position: relative;
                &:after{
                    content: "\2713";
                    width: 15px;
                    height: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: var(--main);
                    border-radius: 100px;
                    font-size: 0.6rem;
                    color: #fff;
                    position: absolute;
                    z-index: 2;
                    bottom: 2px;
                    right: 2px;
                }
            }
        }
        &:disabled{
            + span{
                color: #ccc;
                border: 1px dashed #ccc !important;
                cursor: no-drop;
            }
        }
    }

    &.detail-container{
        padding: 20px 0px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        img,.detail-container-text{
            width: 100%;
            max-width: 75%;
        }
        .detail-container-text{
            margin: 20px 0px;
            font-size: 1em;
            line-height: 2em;
            text-align: center;
            color: #999;
        }
        @media (max-width: 1024px) and (min-width: 861px) {
            padding: 10px;
            img,.detail-container-text{
                max-width: 85%;
            }
            .detail-container-text{
                margin: 15px 0px;
                font-size: 1em;
                line-height: 2em;
            }
        }
        @media (max-width: 860px) and (min-width: 721px) {
            padding: 10px;
            img,.detail-container-text{
                max-width: 90%;
            }
            .detail-container-text{
                margin: 10px 0px;
                font-size: 1em;
                line-height: 1.8em;
            }
        }
        @media (max-width: 768px) {
            padding: 10px;
            img,.detail-container-text{
                max-width: 100%;
            }
            .detail-container-text{
                margin: 25px 0px;
                font-size: 0.8em;
                line-height: 2em;
            }
        }
    }

    @media (max-width: 768px) and (min-width: 421px) {
        padding: 10px;
        flex-wrap: wrap;
    }
    @media (max-width: 420px) {
        padding: 0px;
        flex-wrap: wrap;
    }
}

.cover-slick-block{
    .slick-slide{
        >div{
            display: flex !important;
        }
        div{
            outline: none;
        }
    }
    .slick-arrow{
        background-color  : rgba(0,0,0,.3);
        z-index           : 2;
        cursor            : pointer;
        &.slick-prev{
            left: 0px;
        }
        &.slick-next{
            right: 0px;
        }
    }
    &.cover-slick-main{
        .slick-arrow{
            width: 35px;
            height: 60px;
        }
        @media (max-width: 420px) {
            .slick-arrow{
                width: 30px;
                height: 70px;
            }
        }
    }
    &.cover-slick-nav{
        padding: 3px 3px 3px 0px;
        .cover-img-nav-item{
            padding: 3px;
        }
        .slick-arrow{
            width            : 25px;
            height           : 25px;
            background-color : #fff;
            box-shadow       : 0px 0px 3px rgba(0,0,0,.3);
            border-radius    : 100px;
            &.slick-prev{
                left                : -10px;
                background-image    : url('../../../../public/images/icon/arrow-prev.png');
            }
            &.slick-next{
                right               : -10px;
                background-image    : url('../../../../public/images/icon/arrow-next.png');
            }
            &:hover{
                transform           : scale(1.2);
                margin-top          : -12px;
            }
        }
        .slick-track{
            .slick-slide{
                padding-left: 3px;
            }
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
}
.detail-store-wrap{
    padding         : 5px 10px;
    display         : flex;
    align-items     : center;
    background      : linear-gradient(to bottom, #FF4B2B, #FF416C);
    border-radius   : 5px;
    color           : #fff;
    position        : relative;
    user-select     : none;
    .img{
        width           : 30px;
        height          : 30px;
        background      : #ccc;
        display         : inline-flex;
        align-items     : center;
        margin-right    : 10px;
        border-radius   : 100px;
        overflow        : hidden;
        img{
            width          : 100%;
            display        : block;
        }
    }
    .name{
        max-width      : 160px;
        height         : 100%;
        display        : inline-flex;
        align-items    : center;
        h3{
            font-size       : 1rem;
            font-weight     : 400;
        }
    }
}


@-webkit-keyframes closeWindow {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    }
    }
    
    @keyframes closeWindow {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    }
    }
    
    .ril__outer {
    background-color: rgba(0, 0, 0, 0.85);
    outline: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    -ms-content-zooming: none;
    -ms-user-select: none;
    -ms-touch-select: none;
    -ms-touch-action: none;
    touch-action: none;
    }
    
    .ril__outerClosing {
    opacity: 0;
    }
    
    .ril__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    }
    
    .ril__image,
    .ril__imagePrev,
    .ril__imageNext {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: none;
    -ms-content-zooming: none;
    -ms-user-select: none;
    -ms-touch-select: none;
    -ms-touch-action: none;
    touch-action: none;
    }
    
    .ril__imageDiscourager {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    }
    
    .ril__navButtons {
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 70px;
    padding: 0px;
    margin: auto;
    cursor: pointer;
    opacity: 0.7;
    }
    .ril__navButtons:hover {
    opacity: 1;
    }
    .ril__navButtons:active {
    opacity: 0.7;
    }
    
    .ril__navButtonPrev {
    left: 0;
    background: rgba(0, 0, 0, 0.2)
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDE5LDMgLTIsLTIgLTE2LDE2IDE2LDE2IDEsLTEgLTE1LC0xNSAxNSwtMTUgeiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==')
    no-repeat center;
    }
    
    .ril__navButtonNext {
    right: 0;
    background: rgba(0, 0, 0, 0.2)
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDEsMyAyLC0yIDE2LDE2IC0xNiwxNiAtMSwtMSAxNSwtMTUgLTE1LC0xNSB6IiBmaWxsPSIjRkZGIi8+PC9zdmc+')
    no-repeat center;
    }
    
    .ril__downloadBlocker {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
    background-size: cover;
    }
    
    .ril__caption,
    .ril__toolbar {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    }
    
    .ril__caption {
    bottom: 0;
    max-height: 150px;
    overflow: auto;
    }
    
    .ril__captionContent {
    padding: 10px 20px;
    color: #fff;
    }
    
    .ril__toolbar {
    top: 0;
    height: 50px;
    }
    
    .ril__toolbarSide {
    height: 50px;
    margin: 0;
    }
    
    .ril__toolbarLeftSide{
        padding-left: 10px;
        padding-right: 0;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .ril__toolbarRightSide {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    }
    
    .ril__toolbarItem {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    line-height: 50px;
    padding: 0;
    color: #fff;
    font-size: 120%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50px;
    height: 50px;
    }
    
    .ril__toolbarItemChild {
    vertical-align: middle;
    }
    
    .ril__builtinButton {
    width: 100%;
    height: 100%;
    padding: 0px;
    cursor: pointer;
    border: none;
    opacity: 0.7;
    }
    .ril__builtinButton:hover {
    opacity: 1;
    }
    .ril__builtinButton:active {
    outline: none;
    }
    
    .ril__builtinButtonDisabled {
    cursor: default;
    opacity: 0.5;
    }
    .ril__builtinButtonDisabled:hover {
    opacity: 0.5;
    }
    
    .ril__closeButton {
    background:
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj48cGF0aCBkPSJtIDEsMyAxLjI1LC0xLjI1IDcuNSw3LjUgNy41LC03LjUgMS4yNSwxLjI1IC03LjUsNy41IDcuNSw3LjUgLTEuMjUsMS4yNSAtNy41LC03LjUgLTcuNSw3LjUgLTEuMjUsLTEuMjUgNy41LC03LjUgLTcuNSwtNy41IHoiIGZpbGw9IiNGRkYiLz48L3N2Zz4=')
    no-repeat center;
    }
    
    .ril__zoomInButton {
    background:
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+PHBhdGggZD0iTTEgMTlsNi02Ii8+PHBhdGggZD0iTTkgOGg2Ii8+PHBhdGggZD0iTTEyIDV2NiIvPjwvZz48Y2lyY2xlIGN4PSIxMiIgY3k9IjgiIHI9IjciIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9zdmc+')
    no-repeat center;
    }
    
    .ril__zoomOutButton {
    background:
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+PHBhdGggZD0iTTEgMTlsNi02Ii8+PHBhdGggZD0iTTkgOGg2Ii8+PC9nPjxjaXJjbGUgY3g9IjEyIiBjeT0iOCIgcj0iNyIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiLz48L3N2Zz4=')
    no-repeat center;
    }
    
    .ril__outerAnimating {
    -webkit-animation-name: closeWindow;
    animation-name: closeWindow;
    }
    
    @-webkit-keyframes pointFade {
    0%,
    19.999%,
    100% {
    opacity: 0;
    }
    20% {
    opacity: 1;
    }
    }
    
    @keyframes pointFade {
    0%,
    19.999%,
    100% {
    opacity: 0;
    }
    20% {
    opacity: 1;
    }
    }
    
    .ril__loadingCircle {
    width: 60px;
    height: 60px;
    position: relative;
    }
    
    .ril__loadingCirclePoint {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    }
    .ril__loadingCirclePoint::before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 11%;
    height: 30%;
    background-color: #fff;
    border-radius: 30%;
    -webkit-animation: pointFade 800ms infinite ease-in-out both;
    animation: pointFade 800ms infinite ease-in-out both;
    }
    .ril__loadingCirclePoint:nth-of-type(1) {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    .ril__loadingCirclePoint:nth-of-type(7) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    }
    .ril__loadingCirclePoint:nth-of-type(1)::before,
    .ril__loadingCirclePoint:nth-of-type(7)::before {
    -webkit-animation-delay: -800ms;
    animation-delay: -800ms;
    }
    .ril__loadingCirclePoint:nth-of-type(2) {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    }
    .ril__loadingCirclePoint:nth-of-type(8) {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg);
    }
    .ril__loadingCirclePoint:nth-of-type(2)::before,
    .ril__loadingCirclePoint:nth-of-type(8)::before {
    -webkit-animation-delay: -666ms;
    animation-delay: -666ms;
    }
    .ril__loadingCirclePoint:nth-of-type(3) {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    }
    .ril__loadingCirclePoint:nth-of-type(9) {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
    }
    .ril__loadingCirclePoint:nth-of-type(3)::before,
    .ril__loadingCirclePoint:nth-of-type(9)::before {
    -webkit-animation-delay: -533ms;
    animation-delay: -533ms;
    }
    .ril__loadingCirclePoint:nth-of-type(4) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    }
    .ril__loadingCirclePoint:nth-of-type(10) {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    }
    .ril__loadingCirclePoint:nth-of-type(4)::before,
    .ril__loadingCirclePoint:nth-of-type(10)::before {
    -webkit-animation-delay: -400ms;
    animation-delay: -400ms;
    }
    .ril__loadingCirclePoint:nth-of-type(5) {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
    }
    .ril__loadingCirclePoint:nth-of-type(11) {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
    }
    .ril__loadingCirclePoint:nth-of-type(5)::before,
    .ril__loadingCirclePoint:nth-of-type(11)::before {
    -webkit-animation-delay: -266ms;
    animation-delay: -266ms;
    }
    .ril__loadingCirclePoint:nth-of-type(6) {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    }
    .ril__loadingCirclePoint:nth-of-type(12) {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
    }
    .ril__loadingCirclePoint:nth-of-type(6)::before,
    .ril__loadingCirclePoint:nth-of-type(12)::before {
    -webkit-animation-delay: -133ms;
    animation-delay: -133ms;
    }
    .ril__loadingCirclePoint:nth-of-type(7) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    }
    .ril__loadingCirclePoint:nth-of-type(13) {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
    .ril__loadingCirclePoint:nth-of-type(7)::before,
    .ril__loadingCirclePoint:nth-of-type(13)::before {
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
    }
    
    .ril__loadingContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    }
    .ril__imagePrev .ril__loadingContainer,
    .ril__imageNext .ril__loadingContainer {
    display: none;
    }
    
    .ril__errorContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    }
    .ril__imagePrev .ril__errorContainer,
    .ril__imageNext .ril__errorContainer {
    display: none;
    }
    
    .ril__loadingContainer__icon {
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
    