/* Slider */
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    div,figure{
        outline: none;
    }
    .slick-track,.slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    &:focus{
        outline: none;
    }
    &.dragging{
        cursor: pointer;
        cursor: hand;
    }
}

.slick-track{
    display: block;
    position: relative;
    top: 0;
    left: 0;
    &:before,&:after{
        content: '';
        display: table;
    }
    &:after{
        clear: both;
    }
}
.slick-loading .slick-track{
    visibility: hidden;
}

.slick-slide{
    height: 100%;
    float: left;
    display: none;
    min-height: 1px;
    img{
        display: block;
    }
    &.slick-loading{
        img{
            display: none;
        }
    }
    &.dragging{
        img{
            pointer-events: none;
        }
    }
}
[dir='rtl'] .slick-slide{
    float: right;
}

.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/* Icons */
@font-face{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
}

/* Arrows */
.slick-prev,.slick-next{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:before,.slick-next:before{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-arrow {
    z-index: 2;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.slick-prev{
    left: -25px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDE5LDMgLTIsLTIgLTE2LDE2IDE2LDE2IDEsLTEgLTE1LC0xNSAxNSwtMTUgeiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==');
}
[dir='rtl'] .slick-prev{
    right: -25px;
    left: auto;
}
.slick-prev:before{
    content: '';
}
[dir='rtl'] .slick-prev:before{
    content: '';
}

.slick-next{
    right: -25px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDEsMyAyLC0yIDE2LDE2IC0xNiwxNiAtMSwtMSAxNSwtMTUgLTE1LC0xNSB6IiBmaWxsPSIjRkZGIi8+PC9zdmc+');
}
[dir='rtl'] .slick-next{
    right: auto;
    left: -25px;
}
.slick-next:before{
    content: '';
}
[dir='rtl'] .slick-next:before{
    content: '';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots{
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    >li{
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
            &:hover,&:focus{
                outline: none;
                &:before{
                    opacity: 1;
                }
            }
            &:before {
                content: '';
                width: 10px;
                height: 10px;
                display: block;
                background: var(--main);
                font-family: 'slick';
                font-size: 6px;
                line-height: 20px;
                text-align: center;
                opacity: .2;
                color: black;
                border-radius: 100%;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        
        &.slick-active{
            button{
                &:before{
                    opacity: 1;
                    color: black;
                }
            }
        }
    }
}

.slider-item{
    img{
        width: 100%;
    }
    a{
        width: 100%;
        display: block;
    }
}

.slider-nromal{
    .slick-arrow{
        width: 25px;
        height: 60px;
        background-color: rgba(0,0,0,.3);
        border-radius: 0px;
        &.slick-prev{
            left: 0px;
        }
        &.slick-next{
            right: 0px;
        }
        &.slick-disabled{
            opacity: .3;
        }
        @media (max-width: 420px) {
            &.slick-prev{
                left: auto;
                left: 0px;
            }
            &.slick-next{
                right: 0px;
            }
        }
    }
}

.kv-slider-wrap{
    background: #000;
    img{
        display: block;
    }
    .slick-slide{
        opacity: .5;
        >div{
            display: flex;
        }
    }
    .slick-arrow{
        width: 40px;
        height: 40px;
        background-color: rgba(0,0,0,.3);
        z-index: 2;
        &.slick-prev{
            left: 10%;
        }
        &.slick-next{
            right: 10%;
        }
        @media (max-width: 1280px) {
            width: 25px;
            height: 50px;
            &.slick-prev{
                left: 3%;
            }
            &.slick-next{
                right: 3%;
            }
        }
    }
    .slick-current{
        opacity: 1;
    }
}

.category-wrap{
    img{
        width: 100%;
    }
    figure{
        width: 100%;
        padding: 15px 5px;
        display: flex;
        flex-direction: column;
        position: relative;
        a{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 2;
            top: 0px;
            left: 0px;
        }
        .category-figure-img{
            width: 100%;
            padding: 10px;
        }
        figcaption{
            width: 100%;
            font-size: 0.8em;
            text-align: center;
        }
    }
    .slick-arrow{
        width: 25px;
        height: 60px;
        background-color: rgba(0,0,0,.3);
        border-radius: 0px;
        &.slick-prev{
            left: 0px;
        }
        &.slick-next{
            right: 0px;
        }
        &.slick-disabled{
            opacity: .3;
        }
        @media (max-width: 420px) {
            &.slick-prev{
                left: auto;
                left: 0px;
            }
            &.slick-next{
                right: 0px;
            }
        }
    }
}